*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   overflow: hidden;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: gray;
   justify-content: center; 
   color: black;  
   background-image: url(../assets/bg.jpg);
}
h1{
   padding: 10px;
   background-color: white;
   border-radius: 10px;
}
@media (max-width:430px) {
   h1{
      font-size: 1em;
   }
}
.container-tabuada{
   text-align: center;
   position: relative;
   max-width: 500px;
   background-color: rgb(5, 5, 97);
   border-radius: 10px;
   font-size: 2em;
   padding: 20px;
}
.tabuada{
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: white;
   padding: 10px;
   border-radius: 10px;
   height: 440px;
   margin-top: 60px;
}
.tabuada .instruction{
   animation-name: flashing;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}

.container-calcular{
   margin: 20px ;
}
.container-calcular input, button{
   padding: 15px;
}
button{
   background-color: red;
   border: none;
   cursor: pointer;
   color: white;
}
button:hover{
   background-color: rgb(240, 38, 38);
}
@keyframes flashing{
   50%{opacity: 50%;}
   100%{opacity: 100%;}
}