*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: gray;
   justify-content: center; 
   color: black;  
   background-image: url(../assets/bg.jpg);
}

h1{
   background-color: white;
   border-radius: 10px;
}
.container-tabuada{
   text-align: center;
   position: relative;
   width: 500px;
   background-color: rgb(5, 5, 97);
   border-radius: 10px;
   height: 90vh;
   font-size: 2em;
   padding: 20px;
}
#tabuada{
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: white;
   padding: 10px;
   border-radius: 10px;
   min-height: 440px;
   margin-top: 60px;
}
.container-calcular{
   margin: 20px ;
}
.container-calcular input, button{
   padding: 15px;
}
button{
   background-color: red;
   border: none;
   cursor: pointer;
}
button:hover{
   background-color: rgb(240, 38, 38);
}